<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>kwese votes checker</title>
    <link rel="stylesheet" href="{% static 'check/semantic.min.css' %}">
    <link rel="stylesheet" type="text/css" href="//code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" />
</head>
<body>


<div class="ui container">

   <div class="ui three column grid" style="padding-top: 20px">
  <div class="column">
      <div class="ui card">
  <a class="image" href="#">
    <img src="https://win.kwese.com/images/peter-wachira.jpg">
  </a>
  <div class="content">
    <a class="header" href="#" id="peter-wachira">{{ peter }}</a>
    <div class="meta">
    </div>
  </div>
</div>
  </div>
  <div class="column">
    <div class="ui card">
  <a class="image" href="#">
    <img src="https://win.kwese.com/images/farai-nechikwira.jpg">
  </a>
  <div class="content">
    <a class="header" href="#" id="farai-nechikwira">{{ farai }}</a>
    <div class="meta">
    </div>
  </div>
</div>
  </div>
  <div class="column">
   <div class="ui card">
  <a class="image" href="#">
    <img src="https://win.kwese.com/images/ivy-barley.jpg">
  </a>
  <div class="content">
    <a class="header" href="#" id="ivy-barley">{{ ivy }}</a>
    <div class="meta">
      <a ></a>
    </div>
  </div>
</div>
  </div>
</div>


     <div class="ui three column grid" style="padding-top: 20px">
  <div class="column">
      <div class="ui card">
  <a class="image" href="#">
    <img src="https://win.kwese.com/images/blessing-machiya.jpg">
  </a>
  <div class="content">
    <a class="header" href="#" id="blessing-machiya">{{ blessing }}</a>
    <div class="meta">
    </div>
  </div>
</div>
  </div>
  <div class="column">
    <div class="ui card">
  <a class="image" href="#">
    <img src="https://win.kwese.com/images/ezinne-uko.jpg">
  </a>
  <div class="content">
    <a class="header" href="#" id="ezinne-uko">{{ ezin }}</a>
    <div class="meta">
    </div>
  </div>
</div>
  </div>
  <div class="column">
   <div class="ui card">
  <a class="image" href="#">
    <img src="https://win.kwese.com/images/pascal-akahome.jpg">
  </a>
  <div class="content">
    <a class="header"  id="pascal-akahome" href="#">{{ pascal }}</a>
    <div class="meta">
    </div>
  </div>
</div>
  </div>
</div>




     <div class="ui three column grid" style="padding-top: 20px">
  <div class="column">
      <div class="ui card">
  <a class="image" href="#">
    <img src="https://win.kwese.com/images/bankole-olalekan.jpg">
  </a>
  <div class="content">
    <a class="header" href="#" id="bankole-olalekan">{{ bank }}</a>
    <div class="meta">
    </div>
  </div>
</div>
  </div>
  <div class="column">
    <div class="ui card">
  <a class="image" href="#">
    <img src="https://win.kwese.com/images/shola-peter.jpg">
  </a>
  <div class="content">
    <a class="header" href="#" id="shola-peter">{{ shola }}</a>
    <div class="meta">
    </div>
  </div>
</div>
  </div>
  <div class="column">
   <div class="ui card">
  <a class="image" href="#">
    <img src="https://win.kwese.com/images/veridique-musambaghani-kakule.jpg">
  </a>
  <div class="content">
    <a class="header" href="#" id="veridique-musambaghani-kakule">{{ ver }}</a>
    <div class="meta">
    </div>
  </div>
</div>
  </div>
</div>


      <div class="ui three column grid" style="padding-bottom: 50px;padding-top: 20px">
  <div class="column">
      <div class="ui card">
  <a class="image" href="#">
    <img src="https://win.kwese.com/images/sarah-uwitonze.jpg">
  </a>
  <div class="content">
    <a class="header" href="#" id="sarah-uwitonze">{{ sarah }}</a>
    <div class="meta">
    </div>
  </div>
</div>
  </div>
  <div class="column">
    <div class="ui card">
  <a class="image" href="#">
    <img src="https://win.kwese.com/images/dumisani-mahlangu.jpg">
  </a>
  <div class="content">
    <a class="header" href="#" id="dumisani-mahlangu">{{ dum }}</a>
    <div class="meta">
    </div>
  </div>
</div>
  </div>
  <div class="column">
   <div class="ui card">
  <a class="image" href="#">
    <img src="https://win.kwese.com/images/abisola-akindeinde.jpg">
  </a>
  <div class="content">
    <a class="header" href="#" id="abisola-akindeinde">{{ abisola }}</a>
    <div class="meta">
    </div>
  </div>
</div>
  </div>
</div>
</div>
<div class="ui inverted vertical footer segment" style="padding-top: 20px">
    <div class="ui center aligned container">
      <div class="ui horizontal inverted small divided link list">
       Made with <i class="icon ion-heart"></i>
        <a class="item" href="#">by Anonymous Kwese Fan</a>
      </div>
    </div>





<script src="{% static 'check/jquery-3.1.1.min.js' %}"></script>
<script src="{% static 'check/semantic.min.js' %}"></script>
</body>

<script type="text/javascript">
 $(document).ready(function () {
        console.log("man's not hot");
        check();
        function check() {
            console.log("breaking the virginity");
             $.ajax({
               url: '/getter/',
               success:function (data) {
                   $('#abisola-akindeinde').html(data['Abisola Akindeinde']['votes']);
                   $('#dumisani-mahlangu').html(data['Dumisani Mahlangu']['votes']);
                   $('#blessing-machiya').html(data['Blessing Machiya']['votes']);
                   $('#ezinne-uko').html(data['Ezinne Uko']['votes']);
                   $('#farai-nechikwira').html(data['Farai Nechikwira']['votes']);
                   $('#ivy-barley').html(data['Ivy Barley']['votes']);
                   $('#bankole-olalekan').html(data['Olalekan Bankole Emmanuel']['votes']);
                   $('#pascal-akahome').html(data['Pascal Akahome']['votes']);
                   $('#peter-wachira').html(data['Peter Wachira']['votes']);
                   $('#shola-peter').html(data['Shola Peter']['votes']);
                   $('#sarah-uwitonze').html(data['Uwitonze Sarah']['votes']);
                   $('#veridique-musambaghani-kakule').html(data['Veridique Musambaghani Kakule']['votes'])
               }
           })
        }



        function checker() {
            console.log("time to hunt for real data");
           $.ajax({
               url: '/getter/',
               success:function (data) {
                   $('#abisola-akindeinde').html(data['Abisola Akindeinde']['votes']);
                   $('#dumisani-mahlangu').html(data['Dumisani Mahlangu']['votes']);
                   $('#blessing-machiya').html(data['Blessing Machiya']['votes']);
                   $('#ezinne-uko').html(data['Ezinne Uko']['votes']);
                   $('#farai-nechikwira').html(data['Farai Nechikwira']['votes']);
                   $('#ivy-barley').html(data['Ivy Barley']['votes']);
                   $('#bankole-olalekan').html(data['Olalekan Bankole Emmanuel']['votes']);
                   $('#pascal-akahome').html(data['Pascal Akahome']['votes']);
                   $('#peter-wachira').html(data['Peter Wachira']['votes']);
                   $('#shola-peter').html(data['Shola Peter']['votes']);
                   $('#sarah-uwitonze').html(data['Uwitonze Sarah']['votes']);
                   $('#veridique-musambaghani-kakule').html(data['Veridique Musambaghani Kakule']['votes'])
               }
           })
        }


        window.setInterval(function(){
         checker();
        }, 180000);
    });


function getCookie(name) {
    var cookieValue = null;
    if (document.cookie && document.cookie !== '') {
        var cookies = document.cookie.split(';');
        for (var i = 0; i < cookies.length; i++) {
            var cookie = jQuery.trim(cookies[i]);
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}
var csrftoken = getCookie('csrftoken');



function csrfSafeMethod(method) {
    // these HTTP methods do not require CSRF protection
    return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
}
$.ajaxSetup({
    beforeSend: function(xhr, settings) {
        if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
            xhr.setRequestHeader("X-CSRFToken", csrftoken);
        }
    }
});
</script>


</html>